

 
    <div class="login-box">
      <h1>Login</h1>
      <form method="post" action="/login-action">
        <label>Email</label>
        <input type="email" placeholder="" name="email" />
        <label>Password</label>
        <input type="password" placeholder="" name="password"/>
        
        <br><br>
       <input type="submit" value="log in" class="btn btn-success">
      
      </form>
      <p class="para-2">
        <span class="text-success">Not have an account?</span>  <a href="/signup">Sign Up Here</a>
      </p>
    </div>
   
  